.content {
    display: grid;
    grid-template-columns: 0.25fr 1.5fr 0.25fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". sum ."
      ". itemlist .";
  }
  
  .sum {
    grid-area: sum; 
  }
  
  .itemlist {
    grid-area: itemlist; 
  }

  .main {
    /* height: 1000px;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);   */
  }