.create-card{
    align-items: center;
    justify-content: center;
    display: block;
    /* width: 90%; 
    margin-left: 50px; */
    margin-top: 50px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 20px;
    grid-area: create_all;
}

.create-content {
    display: grid; 
    grid-template-columns: 0.25fr 1.5fr 0.25fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". create_all ."; 
  }

.btn {
    margin-top: 10px;
    
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:visited,
.btn-light:focus {
    background-color: rgb(245, 188, 0);
    border-color: rgb(245, 188, 0);
}

.btn-light:hover{
    background-color: rgb(245, 204, 0);
    border-color: rgb(245, 204, 0);
    
}

.create-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.create-backbtn {
    margin-bottom: 10px;
}