/* table {
    border: 1px solid black;
    table-layout: fixed;
    width: 80%;
    white-space: nowrap;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.app {
    align-items: center;
    justify-content: center;
    display: block;
    /* width: 90%;
    margin: 50px; */
    margin-top: 25px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 20px;
}

.app:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


h3 {
    display: block;
}

.itemCol {
    width: 10%;
}
.amountCol {
    width: 10%;
}

.dateCol {
    width: 10%;
}

.notesCol {
    width: 60%;
}


.actionCol {
    width: 10%;
}
