/* table {
    border: 1px solid black;
    table-layout: fixed;
    width: 80%;
    white-space: nowrap;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.app {
    align-items: center;
    justify-content: center;
    display: block;
    width: 90%;
    margin: 50px;
}

h3 {
    display: block;
}

.itemCol {
    width: 10%;
}
.amountCol {
    width: 10%;
}

.dateCol {
    width: 10%;
}

.notesCol {
    width: 60%;
}


.actionCol {
    width: 10%;
}
