table {
    border: 1px solid black;
    table-layout: fixed;
    width: 80%;
    white-space: nowrap;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.itemCol {
    width: 10%;
}
.amountCol {
    width: 10%;
}

.dateCol {
    width: 10%;
}

.notesCol {
    width: 60%;
}


.actionCol {
    width: 10%;
}
